<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.daggerglobantsamples"
        >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".SampleApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning"
            >
        <activity android:name=".fourthsample.ui.four.FourActivity">
        </activity>
        <activity android:name=".fourthsample.ui.three.ThreeActivity">
        </activity>
        <activity android:name=".fourthsample.ui.two.TwoActivity">
        </activity>
        <activity android:name=".fourthsample.ui.one.OneActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".thirdsample.ui.webservice.WebServiceActivity">
        </activity>
        <activity android:name=".thirdsample.ui.profile.ProfileActivity">
        </activity>
        <activity android:name=".thirdsample.ui.login.LoginActivity">
        </activity>
        <activity android:name=".secondsample.ui.Main3Activity">
        </activity>
        <activity android:name=".secondsample.ui.Main2Activity">
        </activity>
        <activity android:name=".secondsample.ui.Main1Activity">
        </activity>
        <activity android:name=".firstsample.EngineOldSchoolActivity">
        </activity>
    </application>

</manifest>